background-color: #f2efdffc;

#title  h1 {
    text-align: center;  
    color: #86aeee;
  }
  
  #recipe h2 {
      color: #fce00e;
    }
    
  .recipe-image {
    max-width: 30%;
    margin:0 auto 20px auto;
    border-radius: 10%;
  }
    p {
        text-align: justify;
        margin:0 auto 20px auto;
    }

  #span
  .highlight {
      color: #00FF7F; 
  }
