#title  h1 {
    text-align: center;  
    color: #86aeee;
  }

#recipe h2 {
      color: #fce00e;
    }

.content-wrapper {
    max-width: 80%
    margin: 0 auto; 
    }
    
  .recipe-image {
      max-width: 50%;
      border-radius: 10%;
  }
    
p {
        max-width: 50%;
        text-align: center;
    }

  #span
  .highlight {
      color: #00FF7F; 
  }
